:root {
    --primary: #6366f1;
    --primary-hover: #4f46e5;

    --background: #ffffff;
    --surface: #f8fafc;

    --text: #0f172a;
    --text-secondary: #64748b;

    --border: #e2e8f0;

    --success: #22c55e;
    --warning: #f59e0b;
    --danger: #ef4444;

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 48px;
    --space-3xl: 64px;

    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 16px;

}


body {
    margin: 0;
    background-color: var(--background);
}


#TopNavBar {
    background-color: var(--surface);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    border: 1.5px solid var(--border);
}


#logo {
    height: 12vh;
    width: 150px;
    margin-right: auto;
    margin-left: var(--space-md);
}


#authbtn {
    background-color: var(--surface);
    display: flex;
    gap: var(--space-md);
    margin: var(--space-md);
}


.authbtn {
    background-color: var(--primary);
    border-radius: var(--radius-md);
    padding: var(--space-sm);
    border: none;
}

.authbtn:active {
    background-color: var(--primary-hover);
}


#hero {
    background-color: var(--background);
    display: grid;
    grid-template-columns: 1fr;
    /* justify-items: center; */
    align-items: center;
    margin: var(--space-3xl);
}


#heroText {
    display: grid;
    grid-template-columns: 1fr;
    /* justify-items: center; */
    align-items: center;
    /* border: 1px solid black; */
    margin-bottom: var(--space-xl);
}


#heroH1text {
    font-size: var(--space-lg);
}

#heroH1text h1 {
    margin-bottom: 0;
}


#heroh4text {
    font-size: var(--space-md);
    margin: 0;
}


#herobtn {
    display: flex;
    gap: var(--space-2xl);
}


.herobtn {
    background-color: var(--primary);
    padding: var(--space-sm) var(--radius-lg);
    border-radius: var(--radius-md);
    border: none;
}


.herobtn:active {
    background-color: var(--primary-hover);
}


#features {
    display: grid;
    align-items: center;
    justify-items: center;
}



#featureImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}



#featureImg img {
    width: 50%;
    aspect-ratio: 1 / 1;
    /* Square */
    object-fit: cover;
    /* Crop instead of stretching */
    display: block;
}


#websiteSS {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: var(--space-3xl);
}


#ss {
    display: grid;
    align-items: center;
    justify-items: center;
}

#ss img {
    width: 95%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}


#footer {
    background-color: var(--surface);
    display: flex;
    align-items: center;
    justify-content:space-around;
    border: 1px solid var(--border);
}

.footerBtn{
    margin: var(--space-lg);
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid black;
}
