body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(135deg, #667eea, #764ba2);
}
#signup-container{
    border-radius: 15px;
    background: rgb(248, 244, 244);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: clamp(400px, 70dvh, 700px);
    width: clamp(400px, 70dvw, 600px);
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}
#user-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.user-inputs{
    height: 3dvh;
    width: clamp(300px, 60dvw, 500px);
    margin: 6px;
    padding: 9px;
    border-radius: 7px;

}
#signup-login-btns{
    margin-top: auto; 
    display: flex;
    flex-direction: column;
    gap: 30px;  
}
.signup-login-btns{
     width: clamp(120px, 45dvw, 450px);
     flex: 1;
     border: none;
     cursor: pointer;
     transition: all 0.2 ease;
     padding-bottom: 5px;
     padding-top: 5px;
     background: #7c91f1;
     border-radius: 10px;
}
#signup-container input:focus {
    border-color: #667eea;
    box-shadow: 0 0 0 3px rgba(102,126,234,0.2);
}